<!doctype html>
<html lang="en" ng-app="caleb">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta content="width=device-width, initial-scale=1.0, minimal-ui" name="viewport">
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <!--Font-->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>                
        
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>

        <!-- Images Loaded -->
        <script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="bower_components/angular-images-loaded/angular-images-loaded.js"></script>
        
        <!-- App -->
        <script src="js/app/app.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/filters.js"></script>
        <script src="js/app/directives.js"></script>        
    </head>
    <body data-ng-controller="mainCtrl" data-ng-class="{'main-nav-active': mainNavOpen}" data-ng-init="mainNavOpen = false">
        <div style="display: none;" data-ng-include="'./img/sprite.svg'"></div>
        <header id="site-header" class="site-header">
            <nav class="main-nav" role="navigation">    
                <a class="me" href data-ng-href="/" data-ng-click="mainNavOpen = false"><span>Caleb Brewer</span></a> 
                <a class="my-work" href data-ng-href="/work/" data-ng-click="mainNavOpen = false"><span>Work I've Done</span></a>
                <a class="work-with" href data-ng-href="/workwith/" data-ng-click="mainNavOpen = false"><span>Work with Me</span></a>  
            </nav>
            
            <button class="open-main-nav" ng-hide="mainNavOpen" ng-click="mainNavOpen = true">Open</button>
            <button class="close-main-nav" ng-click="mainNavOpen = false">X</button>
            <a class="twitter" href="https://twitter.com/CalebBrewer"><img src="https://dl.dropboxusercontent.com/u/1417587/twitter.svg" alt="twitter" /></a>
        </header>
        <div class="cover"></div> 
        <main class="at-view-fade-in at-view-fade-out {{page}}" data-ng-class="{'about-skills-active':aboutSkillsActive}" ng-view>
        </main>
        <footer class="sitefooter">
            <nav>
                <a title="Follow me on twitter" href="https://twitter.com/calebbrewer" target="_blank">Twitter</a>
                <a title="View my profile on GitHub" href="https://github.com/calebbrewer" target="_blank">GitHub</a>
            </nav>
        </footer>     
    </body>
</html>