<header></header>
<section class="name">
    <h1><span>{</span>Caleb Brewer<span>}</span></h1>
    <a class="button" href data-ng-click="aboutSkillsActive = !aboutSkillsActive"><span data-ng-hide="aboutSkillsActive">About &amp; Skills</span><span data-ng-show="aboutSkillsActive">X Close</span></a>
</section>

<section class="main-content about-skills">
	<article class="about">
		<h2>About</h2>
		<p>Primarily I’m a designer, and developer with a focus on making the web and web apps better. I also do a lot of other stuff too, so if you have a project that you’re passionate about, <a href="work">take a look at my portfolio</a>. Then, if you feel we would work well together, <a href="workwith">let’s talk</a>.</p>
	</article>

	<article class="skills">
		<h2>Knowledge & Experience</h2>
        <p>This is not just a list of things I've dabbled in. Everything here I know and have done on a pro level.</p>
        <h3>Skills</h3>
        <ul>
            <li>
                 <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#code"></use>
                </svg>                  
                <span>Programing</span>                
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#layers"></use>
                </svg>                  
                <span>Design & Layout</span>                
            </li>               
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#video-camera"></use>
                </svg>                  
                <span>Videography</span>                                
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#mic"></use>
                </svg>                  
                <span>Voice Over</span>                                
            </li>                       
        </ul>
        <h3>Software, Languages, & Framworks</h3>
        <ul>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#css3"></use>
                </svg>                
                <span>CSS</span>
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#html5-logo"></use>
                </svg>                 
                <span>HTML</span>              
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#js-logo"></use>
                </svg>                  
                <span>JavaScript</span>
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#nodejs-icon"></use>
                </svg>                
                <span>Node JS</span>
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#php-logo"></use>
                </svg>                 
                <span>PHP</span>
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#angularjs-logo"></use>
                </svg>                  
                <span>Angular JS</span>
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#git-logo"></use>
                </svg>                  
                <span>git</span>                
            </li>
            <li>
                <svg viewBox="0 0 100 100" style="width: 100px; height: 100px;">
                    <use xlink:href="#aws"></use>
                </svg>                  
                <span>Amazon Web Services</span>                
            </li>
            <li>
                <img src="img/ps.png">
                <span>Photoshop</span>                
            </li>
            <li>
                <img src="img/ai.png">             
                <span>Illistrator</span>                
            </li>
            <li>
                <img src="img/pr.png">                            
                <span>Premier Pro</span>                
            </li>
        </ul>
	</article>
</section>
<div class="fullpage-img"></div>